body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #fbd3cc, #afeb91);
    color: #333;
}
.container {
    max-width: 90%;
    margin: 40px auto;
    background: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
h1, h2, h3 {
    text-align: center;
}
h1 {
    color: #1c4be4;
}
h2 {
    margin-top: 40px;
    color: #555;
}
h3 {
    margin-top: 30px;
    color: #555;
}
h4 {
    margin-top: 20px;
    color: #555;
}
.highlight {
    background-color: #f5815a;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 4px;
    display: inline-block;
 }
.author {
    display:flex;
    align-items:center;
    justify-content:center
}
.table-container {
    margin-top: 30px;
    overflow-x: auto;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.6);
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.9);
}
th {
    background: linear-gradient(135deg, #f8f3b2, #b2cbf8);
    color: rgb(219, 118, 16);
    font-weight: 600;
    padding: 7px;
    text-align: center;
}
td {
    padding: 7px;
    text-align: center;
    color: #444;
    font-size: 16px;
}
/*
tr:nth-child(odd) {
    background: rgba(240, 243, 248, 0.5);
}
*/
tr:hover {
    background: rgba(117, 146, 197, 0.226);
    transition: 0.3s;
}

.demo-section, .paper-section {
    margin-top: 20px;
}
.demo-item {
    margin-bottom: 20px;
}
.demo-item p {
    margin: 5px 0;
    font-size: 16px;
}
audio {
    margin-top: 5px;
    width: 230px;
    height: 40px;
}
.video-section {
  width: 100%;
  padding: 40px 0;
  background: #ecf1f7;
  display: flex;
  justify-content: center;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  max-width: 960px;
  width: 90%;
}

.video-card {
  background: #f5ecec;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

.intro-video {
  width: 100%;
  height: auto;
  display: block;
  border: none;
  background-color: #000;
}

.video-caption {
  padding: 16px;
  text-align: center;
}

.caption-text {
  font-size: 0.8rem;
  color: #333333;
  font-weight: 500;
  margin: 0;
}

@media (min-width: 768px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


.paper-description {
    line-height: 1.6;
}
.footer {
    text-align: center;
    margin-t4p: 40px;
    font-size: 14px;
    color: rgb(230, 123, 37);
}
